<%- partial('_partial/head') %>
<div class="page-simple">
  <div class="page-hero"><h1 class="page-hero-title"><%= page.title %></h1></div>
  <article class="page-content"><%- page.content %></article>
  <%- partial('_partial/sidebar') %>
</div>
<%- partial('_partial/footer') %>
